*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
header{
    width: 100%;
    height: 90vh;
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("bg.jpeg");
    background-size: 100% 100%;
    color: white;
    position: relative;
}
.item img{
    width: 200px;
    height: 250px;
    border-radius: 4px;
    box-shadow: 0 0 3px rgb(148, 141, 141);
}
.cart{
    position: absolute;
    top: 10%;
    left: 20%;
    background: #f1f1f1;
    width: 70%;
    margin: 3px auto;
    box-shadow: 0 2px 10px black;
    
}
.title{
    background:linear-gradient(to left, teal, rgb(155, 238, 238));
    color: white;
    padding: 20px
}
p{
    font-size: 33px;
    color: white;

}
.budget{
    background:rgb(22, 44, 44);
    padding: 5px;
    border-top: 1px solid rgba(0,128,128,0.2);
}
.total-amount{
    background: #dddddd;
    padding: 20px 0;
   
}
.menu{
    display: flex;
    background: rgba(17, 82, 82, 0.24);
}
.menu .item{
    flex: 1;
}
.menu .item p{
    /* background: rgb(27, 131, 27); */
}
input{ 
    padding: 13px;
}